@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');

body{
background: rgb(96,0,40) !important;
background: linear-gradient(328deg,rgba(0,0,0,1) -10%, rgba(96,0,40,1) 43%, rgba(54,1,83,1) 100%) !important;
  color: white !important;
  font-family: 'IBM Plex Sans', sans-serif !important;
}

.colored{
  background: -webkit-linear-gradient(right, #820bbb, #ff3e96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.colored2{
  background: -webkit-linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.colored3{
  background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colored4{
  background: -webkit-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.colored5{
  background: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg_colored{
  background: -webkit-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  -webkit-background-clip: background;
  -webkit-text-fill-color: black;
  border-radius: 30px;
  margin-bottom: 100px;
}

.bg_colored2{
  background: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  -webkit-background-clip: background;
  -webkit-text-fill-color: black;
  border-radius: 30px;
  margin-bottom: 100px;
}

.bg_colored3{
  background: -webkit-linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  -webkit-background-clip: background;
  -webkit-text-fill-color: black;
  border-radius: 30px;
  margin-bottom: 100px;
}


.fill{
  background: -webkit-linear-gradient(right, #30CFD0, #c43ad6);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.neon{
  text-shadow: 0 0 10px rgb(192 219 255 / 75%), 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.titolo{
background: linear-gradient(135deg,hsla(0,0%,100%,0) 56%,#ffcaba 98%),linear-gradient(25deg,#f5d1ff 23%,#fff 60%);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.bbb:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
} 

.nav-btn {
  color: white;
  border-radius: 25px !important;
  background-color: #896fbc !important;
  padding: 30px !important;
  font-size: 18px !important;
}



.second_btn{
  margin-top: 30px;
  background-color: black !important;
  color: white !important;
  border-radius: 25px !important;
  font-size: 20px !important;
  padding: 30px !important;
}


.sample_main{
  background-repeat: no-repeat;
  background-position: 80% -10%;
background-size: 800px 800px; 

}

.logo{
  display: inline-block !important;
  position: absolute;
  right: 65px;
  top: 12%;
}

.preview_text{
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
}

.portfolio_image{
  border-radius: 30px;
  opacity: 1;
}

.portfolio_image:hover{
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  opacity: 0.9;

}



canvas {outline: none;width: 100vw !important; height: 100vh !important; display: block; }

.title{
  position: absolute;
  right: 50%;
  transform: translate(50%,-50%);
  color: white;
  z-index: 1000;
  font-family: "VT323";

}

.subtitle{
  position: absolute !important;
  right: 50% !important;
  transform: translate(50%,-50%);
  color: white;
  z-index: 1000;
  font-family: "VT323";

}

.nav-btn {
  color: white;
  border-radius: 25px !important;
  background-color: black !important;
  padding: 25px !important;
  font-size: 18px !important;
  margin-right: 0px !important;
  margin-top: 50px !important;
  z-index: 10000 !important;
  font-family: "Prompt" !important;

}
.nav-btn:hover{
  background-color: white !important;
  color: black;
}

.navbar{
  position: absolute !important;
  right: 0% !important;
}

.minter{
  position: absolute !important;
  top: 70%;
  right: 50%;
  width: 200px;
  transform: translate(50%,-50%);
  color: white;
  border-radius: 30px !important;
  background-color: black !important;
  padding: 30px !important;
  font-size: 30px !important;
  z-index: 100 !important;
  font-family: "Prompt";
}

.minter_success{
  position: absolute !important;
  top: 77%;
  right: 50%;
  transform: translate(50%,-50%);
  color: black;
  border-radius: 30px !important;
  background-color: white !important;
  padding: 20px !important;
  font-size: 20px !important;
  z-index: 100 !important;
  font-family: "Prompt";
  margin-top: 10px;
}

.minter_error{
  position: absolute !important;
  top: 77%;
  right: 50%;
  transform: translate(50%,-50%);
  color: black;
  border-radius: 30px !important;
  background-color: red !important;
  padding: 20px !important;
  font-size: 20px !important;
  z-index: 100 !important;
  font-family: "Prompt";
  margin-top: 10px;
}

.minter_success:hover{
  background-color: black !important;
  color: white !important;
}

.minter_error:hover{
  background-color: black !important;
  color: red !important;
}

.minter:hover{
  background-color: white !important;
  color: black !important;
}

.coinbase_logo{
  margin-left: 5px;
}

.walletconnect_logo{
  margin-left: 5px;
}

.metamask_logo{
  margin-left: 5px;
}